.accordion-title{
    color: #b80000;
    margin-bottom: 0;
}

.accordion-div{
    width: auto;
    height: 70px;
    font-size: 12px;
    margin-bottom: 10px;
    margin-left: 5px;
    padding: 5px;
    border: 1px solid #b80000;
}
label{
    color: #b80000 !important;
}

.form-borders{
    border: 1px solid #b80000;
}

.form-file::file-selector-button {
    color: white; /* Change to your desired text color */
    background-color: #b80000; /* Change to your desired background color */
  }

.form-file:hover::file-selector-button {
    color: white; /* Change to your desired text color */
    background-color: #b80000 !important; /* Change to your desired background color */
  }

  @media screen and (min-width:700px) {
    .deposit-width{
        width: 700px;
        margin: auto;
    }
  }

  @media screen and (min-width:500px) and (max-width:700px) {
    .deposit-width{
        width: 500px;
        margin: auto;
    }
  }
