@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Pacifico&display=swap');
body{
    margin-bottom: 200px;
    background: #fff5e1;
    color:#000 !important;
}
.categoryCard{
    background: linear-gradient(90deg, rgb(198, 3, 3) 0%, rgba(214, 0, 0, 1) 52%, rgba(255, 0, 0, 1) 100%);
}
.logo{
    letter-spacing: 1px;
    font-family: "Concert One", sans-serif;
  
}
a{
    color: #000 !important;
}

.fa-solid{
    font-size: 24px !important;
}
.bannerImg{
    width: 100%;
    height: 350px ;
    object-fit: cover ;
}
footer{
    background: linear-gradient(0deg,#02293a,#00354D);
    box-shadow: 0 -5px 10px #0000004d;
}
.footerImg{
    height: 30px;
    width: 30px;
   object-fit: cover;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    border: 3px solid #6e0903  !important;
    /* box-shadow: 0px 3px 14px -5px #b80000; */
}
.fade:not(.show){
    display: none !important;
    visibility: hidden !important;
}
@media screen and (max-width:860px) {
    .tabTitle{
        font-size: 13px;
        text-align: center;
    }
}
@media screen and (max-width:800px) {
    .bannerImg{
        height: 250px ;
    }
}
@media screen and (max-width:580px) {
    
    .bannerImg{
        height: 200px ;
    }
    .tabTitle{
        padding: 0 5px;
    }
    
}
@media screen and (max-width:570px){
    .tabTitle{
        padding: 0 20px;
    }
}
@media screen and (max-width:380px){
    .tabTitle{
        padding: 0 10px;
    }
    .footerTitle{
        font-size: 13px;
    }
    .bannerImg{
        height: 150px ;
    }
    .playerInfoImg{
        height: 40px;
    }
    .playerInfoTitle{
        font-size: 13px;
    }
}
@media screen and (max-width:340px) {
    .logo{
        font-size: 20px;
    }
}
@media screen and (max-width:320px) {
.fa-solid{
        font-size: 18px !important;
    }
    .logo{
        font-size: 18px;
    }
}

