
/* custom-tabs.css */

.nav-tabs{
    border: none;
    background-color: transparent I !important;
}
  .custom-tab-menu-icon{
    width: 30px;
    height: 30px;
  }

  .custom-tab-menu-icon.active , .custom-tab-menu-icon:focus{
    text-shadow: 0 0 5px goldenrod;
    background-color: transparent;
  }
  
  .custom-tab-content {
    /* Add your custom styles for tab content here */
    display: block;
    color: #fff;
    /* text-align: center; */
  }

  .form-control-input , .form-control-input:focus {
    background-color: transparent;
    color: #333;
  }

  .form-control-input::placeholder{
    color: #666;
  }

  .profile-btn{
    padding: 5px;
    color: #b80000;
    text-shadow: 0 0 3px #b80000;
    letter-spacing: 1px;
    border: 2px solid #b80000;
    /* box-shadow: 0 0 5px #b80000; */
    outline: none;
    background: transparent;
  }





